<div class="col mb-4">
  <a href="{{ post.url | relative_url }}">
    <div class="card h-100 hoverable">
      {% if post.thumbnail %}
        {% include figure.liquid loading="eager" path=post.thumbnail sizes="250px" alt=post.title class="card-img-top" %}
      {% endif %}
      <div class="card-body">
        <h2 class="card-title">{{ post.title }}</h2>
        <p class="card-text">{{ post.description }}</p>
        <p class="post-meta mb-0">{{ post.date | date: "%B %d, %Y" }}</p>
      </div>
    </div>
  </a>
</div>
