{% if site.visitor_counter and site.visitor_counter.enabled %}
  {% assign scholar_metrics = site.data.citations.metadata.author_metrics %}
  <div class="visitor-counter">
    <span class="visitor-counter-text">
      {{ site.visitor_counter.label | default: 'Number of Visitors' }} :
      <span id="visitor-counter-value" class="visitor-counter-value">0</span>
      {% if scholar_metrics %}
        <span class="visitor-counter-separator" aria-hidden="true"> | </span>
        <span class="visitor-counter-metric">
          Total Citations :
          <span class="visitor-counter-metric-value">{{ scholar_metrics.total_citations | default: 0 }}</span>
        </span>
        <span class="visitor-counter-separator" aria-hidden="true"> | </span>
        <span class="visitor-counter-metric">
          H-index :
          <span class="visitor-counter-metric-value">{{ scholar_metrics.h_index | default: 0 }}</span>
        </span>
        <span class="visitor-counter-separator" aria-hidden="true"> | </span>
        <span class="visitor-counter-metric">
          i10-index :
          <span class="visitor-counter-metric-value">{{ scholar_metrics.i10_index | default: 0 }}</span>
        </span>
      {% endif %}
    </span>
  </div>
{% endif %}
